<div class="wrappper">
		<section class="stage" name="DropStone">
				<div class="ball"><p>沉鬱之石 - DropStone</p></div>
		</section>
		<section class="stage" name="DreamSakura">
				<div class="ball"><p>夢之葉櫻 - DreamSakura</p></div>
		</section>
		<section class="stage" name="RainSweet">
				<div class="ball"><p>馨雨點點 - RainSweet</p></div>
		</section>
		<section class="stage" name="OtomeSound">
				<div class="ball"><p>曉石之音 - OtomeSound</p></div>
		</section>
</div>

<div id="about">
		<div name="none"></div>
		<div name="DropStone" style="display:none;">
			<p>
				Contact me：<a href="https://plus.google.com/+%E5%AD%9F%E5%82%91%E8%A8%B1%E6%B2%89%E9%AC%B1%E4%B9%8B%E7%9F%B3/" class="urlextern" title="https://plus.google.com/+孟傑許沉鬱之石/" rel="nofollow">Google+</a>, <a href="http://github.com/s890081tonyhsu" class="urlextern" title="http://github.com/s890081tonyhsu" rel="nofollow">Github</a>, <a href="https://bitbucket.org/s890081tonyhsu" class="urlextern" title="https://bitbucket.org/s890081tonyhsu" rel="nofollow">BitBucket</a>
			</p>

			<p>
				最初是以C語言起家，之後在接觸Terminal良久之後，便開始學習一些動態語言(Ruby, Python)，但也是單純認識。
			<br>
				在大學時找到部分專案夥伴之後，便將部分能力分工，只留下git專案管理部分。
			</p>
			<div class="return" style="cursor:pointer;float:right;">Return</div>
		</div>
        <div name="DreamSakura" style="display:none;">
			<p>
				Contact me：<a href="https://www.facebook.com/davistonyhsu" class="urlextern" title="https://www.facebook.com/davistonyhsu" rel="nofollow">Facebook</a>
			</p>

			<p>
				不專精任何技術，只粗略了解技術與需求之平衡點。
				<br>
				責任內容大約都以非技術人員接觸居多，以解決他人問題為樂。
			</p>
			<div class="return" style="cursor:pointer;float:right;">Return</div>
		</div>
        <div name="RainSweet" style="display:none;">
			<p>
				Contact me：<a href="http://www.plurk.com/davistonyhsu" class="urlextern" title="http://www.plurk.com/davistonyhsu" rel="nofollow">Plurk</a>
			</p>

			<p>
				以美工等能力完主軸，學習網頁語言(HTML, Javascript, CSS)，專門處理版面設計之瑣碎項目。
				<br>
				常常為了部分自我要求而投注大量心力，但部分作品常因電腦重灌而遺失。
			</p>
			<div class="return" style="cursor:pointer;float:right;">Return</div>
		</div>
        <div name="OtomeSound" style="display:none;">
			<p>
				Contact me：<a href="https://twitter.com/OtomeSound" class="urlextern" title="https://twitter.com/OtomeSound" rel="nofollow">Twitter</a>
			</p>

			<p>
				以解讀晦澀語言為樂，所以常接觸組合語言或是已過時的Pascal。
				<br>
				文學常常帶入細膩描繪，把簡單之情感層疊包裝，只為溫暖他人。
			</p>
			<div class="return" style="cursor:pointer;float:right;">Return</div>
		</div>
</div>
<div>&nbsp;</div>
<script src="data/js/sub/about.js"></script>
