<div id="about">
	<h1>About Me</h1>
	<div>
		<h2 id="profile">Profile</h2>
		<hr>
		<h3>Autobiography</h3>
		<div class="text-section">
			<h4>Tony Hsu</h4>
			<p>Just a naive human working on computer and playing on programming.</p>
			<blockquote>
				<p>Unknown person which knows nothing about these.</p>
			</blockquote>
			<p>The ability is enlighten by classmates on creating maplestory lf2. Then I start to volunteering some IT competition with no preparing.(So you know that I failed them). But these exprience enhanced my determination of learning programming. Maybe I prefer teamwork to solo in the following project.</p>
			<blockquote>
				<p>Wants to do something but always do nothing.</p>
			</blockquote>
			<p>On high school, I join the team to compete with every high students, this competition is to do a research on a person we meet. I was inspired when making a website to show our research. After that time, I know about jQuery, Single-Page and some other names.</p>
			<p>After the graduation from high school, I'm trying to learn something to follow the steps of that classmate which creates all the website for our team. But after I collected the data, I still knows nothing to do next.</p>
			<blockquote>
				<p>i++'s story</p>
			</blockquote>
			<p>When the day comes to my freshman in university, I make my determination to join Student Government in NCHU (NCHU-SG). I always remember the time which I tells the header of secretary department that I want to join imformation department. But then, I can't follow the activity that SG created. So I'm just only writing C language myself.</p>
			<p>One day, someone's post attracted me, the person who is front of me reply '++', I reply 'i++', then the person who reply 'echo i' start focus on my appearence. At the second semester, I was invited by him to join imformation team (At that time, this team is not upgrated to department).</p>
			<blockquote>
				<p>Ability enhancement</p>
			</blockquote>
			<p>At the half of my freshman, Our class was receive by a assignment. The teacher of Computer Science tells us to make a program for letter appearence counting. She only use six weeks to lecture us C language. I even knows nothing about the pointer, linklist and data entropy. After I go to get some extension from classmates, I know how to do and making a menu for that program although I think it's useless after that.</p>
			<p>At the second semester starts, Our team was request to make a website for the activity. It was after the time that TPA won the champion on League of Legends. So all we had to do was making BESG website to handle the activity's registration and post the activity's imformation.</p>
			<p>I really thought that I can get more experience from this activity, but the truth is that I only learned how to generate a website screenshot for other teammates. The really learning and enhancement is at the summer vacation after my freshman.</p>
			<blockquote>
				<p>So...what's now</p>
			</blockquote>
			<p>Now I am the student at the department of Electrical Engineering in NCHU. But sometimes I participate in front end works of some projects.</p>
		</div>
	</div>
	<div>&nbsp;</div>
	<div>
		<h2 id="contact">Contact</h2>
		<hr>
		<div class="section">
			<h3>Social Network</h3>
			<ul>
				<li class="grid-4 facebook" data-target="facebook">
					<h4>Facebook</h4>
					<i class="icon-splash icon-social-facebook-squared"></i>
					<div id="facebook" class="overlay facebook">
						Test
						<a href="#" class="close" data-target="facebook">X</a>
					</div>
				</li>
				<li class="grid-4 google__plus">
					<h4>Google+</h4>
					<i class="icon-splash icon-social-googleplus-rect"></i>
					<div></div>
				</li>
				<li class="grid-4 plurk">
					<h4>Plurk</h4>
					<i class="icon-splash icon-social-plurk"></i>
					<div></div>
				</li>
				<li class="grid-4 twitter">
					<h4>Twitter</h4>
					<i class="icon-splash icon-social-twitter-bird"></i>
					<div></div>
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Workspace and Blog</h3>
			<ul>
				<li class="grid-4 tumblr">
					<h4>Tumblr</h4>
					<i class="icon-splash icon-social-tumblr-rect"></i>
					<div></div>
				</li>
				<li class="grid-4 github">
					<h4>Github</h4>
					<i class="icon-splash icon-social-github-circled"></i>
					<div></div>
				</li>
				<li class="grid-4 bitbucket">
					<h4>Bitbucket</h4>
					<i class="icon-splash icon-social-bitbucket"></i>
					<div></div>
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Less Used Service</h3>
			<ul>
				<li class="grid-4 qq">
					<h4>QQ</h4>
					<i class="icon-splash icon-social-qq"></i>
					<div></div>
				</li>
				<li class="grid-4 linkedin">
					<h4>LinkedIn</h4>
					<i class=" icon-splash icon-social-linkedin-squared"></i>
					<div></div>
				</li>
				<li class="grid-4 trello">
					<h4>Trello</h4>
					<i class="icon-splash fa fa-trello fa-2x fa-fw"></i>
					<div></div>
				</li>
			</ul>
		</div>
	</div>
	<div>&nbsp;</div>
	<div>
		<h2 id="license">License</h2>
		<hr>
		<div>
			<p>The site's source code is available on Github.</p>
			<p>You can click the link on top right to get the source.</p>
			<p>And the following is the tools use on this site.</p>
			<p><i class="fa fa-2x fa-home"></i>: means the site of this tools</p>
			<p><i class="fa fa-2x fa-copyright"></i>: means the license of this tools</p>
		</div>
		<div class="text-section">
			<h3>Git</h3>
			<div class="link-icon-group">
				<a class="fa fa-2x fa-home" href="http://git-scm.com/" target="_blank"></a>
				<a class="fa fa-2x fa-copyright" href="http://git-scm.com/about/free-and-open-source" target="_blank"></a>
			</div>
			<p>A version control tools to manage the source.</p>
		</div>
		<div class="text-section">
			<h3>Github</h3>
			<div class="link-icon-group">
				<a href="http://github.com" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="https://help.github.com/articles/github-terms-of-service" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>A website to use git to manage your source codes.</p>
		</div>
		<div class="text-section">
			<h3>jQuery</h3>
			<div class="link-icon-group">
				<a href="http://jquery.com/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="https://jquery.org/license/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>A javascript library to easily javascript in DOM.</p>
		</div>
			<div class="text-section">
			<h3>Compass SASS/SCSS</h3>
			<div class="link-icon-group">
				<a href="http://compass-style.org/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://compass-style.org/copyright/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>A library for SASS/SCSS to create css easily.</p>
		</div>
		<div class="text-section">
			<h3>Google Fonts</h3>
			<div class="link-icon-group">
				<a href="http://www.google.com/fonts" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="https://www.google.com/fonts/attribution" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>Some english fonts can be use to decorate website.</p>
		</div>
		<div class="text-section">
			<h3>Font Awesome</h3>
			<div class="link-icon-group">
				<a href="http://fortawesome.github.io/Font-Awesome/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://fortawesome.github.io/Font-Awesome/license/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>Icon library to decorate for some buttons.</p>
		</div>
		<div class="text-section">
			<h3>Fontello</h3>
			<div class="link-icon-group">
				<a href="http://fontello.com/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="https://github.com/fontello/fontello/wiki/What-about-license%3F" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>Mix all icon library to one file, we only use it to get some social icon.</p>
		</div>
		<div class="text-section">
			<h3>Modernizr</h3>
			<div class="link-icon-group">
				<a href="http://modernizr.com/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://modernizr.com/license/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>Detects HTML5 and CSS3 features in the user’s browser.</p>
		</div>
		<div class="text-section">
			<h3>HighCharts</h3>
			<div class="link-icon-group">
				<a href="http://www.highcharts.com" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://shop.highsoft.com/highcharts.html" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>Create interactive charts easily for your web projects.</p>
		</div>			
	</div>
	<div>
		<h2 id="reference">Reference</h2>
		<hr>
		<p>The following will list some website (without sorted to license) which will help you to style the website.</p>
		<div class="text-section">
			<h3>W3School</h3>
			<div class="link-icon-group">
				<a href="http://www.w3schools.com/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://www.w3schools.com/cert/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>The world's largest web development site to search for some web skill reference.</p>
		</div>
		<div class="text-section">
			<h3>Codrops</h3>
			<div class="link-icon-group">
				<a href="http://tympanus.net/codrops/" class="fa fa-2x fa-home" target="_blank"></a>
				<a href="http://tympanus.net/codrops/licensing/" class="fa fa-2x fa-copyright" target="_blank"></a>
			</div>
			<p>A website to share some creative front side effect.</p>
		</div>
	</div>
</div>
