<div id="about">
	<h1>About Me</h1>
	<div>
		<h2>Profile</h2>
		<hr>
	</div>
	<div>
		<h2>Contact</h2>
		<hr>
		<div class="section">
			<h3>Social Network</h3>
			<ul>
				<li class="grid-4 facebook" data-target="facebook">
					<h4>Facebook</h4>
					<i class="icon-splash icon-social-facebook-squared"></i>
					<div id="facebook" class="overlay facebook">
						Test
						<a href="#" class="close" data-target="facebook">X</a>
					</div>
				</li>
				<li class="grid-4 google__plus">
					<h4>Google+</h4>
					<i class="icon-splash icon-social-googleplus-rect"></i>
					<div></div>
				</li>
				<li class="grid-4 plurk">
					<h4>Plurk</h4>
					<i class="icon-splash icon-social-plurk"></i>
					<div></div>
				</li>
				<li class="grid-4 twitter">
					<h4>Twitter</h4>
					<i class="icon-splash icon-social-twitter-bird"></i>
					<div></div>
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Workspace and Blog</h3>
			<ul>
				<li class="grid-4 tumblr">
					<h4>Tumblr</h4>
					<i class="icon-splash icon-social-tumblr-rect"></i>
					<div></div>
				</li>
				<li class="grid-4 github">
					<h4>Github</h4>
					<i class="icon-splash icon-social-github-circled"></i>
					<div></div>
				</li>
				<li class="grid-4 bitbucket">
					<h4>Bitbucket</h4>
					<i class="icon-splash icon-social-bitbucket"></i>
					<div></div>
				</li>
			</ul>
		</div>
		<div class="section">
			<h3>Less Used Service</h3>
			<ul>
				<li class="grid-4 qq">
					<h4>QQ</h4>
					<i class="icon-splash icon-social-qq"></i>
					<div></div>
				</li>
				<li class="grid-4 linkedin">
					<h4>LinkedIn</h4>
					<i class=" icon-splash icon-social-linkedin-squared"></i>
					<div></div>
				</li>
				<li class="grid-4 trello">
					<h4>Trello</h4>
					<i class="icon-splash fa fa-trello fa-2x fa-fw"></i>
					<div></div>
				</li>
			</ul>
		</div>
	</div>
</div>
