<div class="two">
		<section class="stage">
				<div class="ball"><p>沉鬱之石 - DropStone</p></div>
		</section>
		<section class="stage">
				<div class="ball"><p>夢之葉櫻 - DreamSakura</p></div>
		</section>
</div>
<div class="two">
		<section class="stage">
				<div class="ball"><p>馨雨點點 - RainSweet</p></div>
		</section>
		<section class="stage">
				<div class="ball"><p>曉石之音 - OtomeSound</p></div>
		</section>
</div>


<div id="introduce">

		<h1 class="sectionedit1" id="blacken_angel團隊介紹">Blacken_Angel團隊介紹</h1>
		<div class="level1">

				<p>
				雖然Blacken_Angel看似只有一個人，卻有四個人格在協力撐起這個團隊窩XDD
				</p>
				<hr>

				<p>
				沉鬱之石 - DropStone
				</p>

				<p>
				服務據點：<a href="https://plus.google.com/+%E5%AD%9F%E5%82%91%E8%A8%B1%E6%B2%89%E9%AC%B1%E4%B9%8B%E7%9F%B3/" class="urlextern" title="https://plus.google.com/+孟傑許沉鬱之石/" rel="nofollow">Google+</a>, <a href="http://github.com/s890081tonyhsu" class="urlextern" title="http://github.com/s890081tonyhsu" rel="nofollow">Github</a>, <a href="https://bitbucket.org/s890081tonyhsu" class="urlextern" title="https://bitbucket.org/s890081tonyhsu" rel="nofollow">BitBucket</a>
				</p>

				<p>
				基本上，專案處理部分都是我的職掌之下（包含GitHub技術部分）
				</p>
				<hr>

				<p>
				夢之葉櫻 - DreamSakura
				</p>

				<p>
				服務據點：<a href="https://www.facebook.com/davistonyhsu" class="urlextern" title="https://www.facebook.com/davistonyhsu" rel="nofollow">Facebook</a>
				</p>

				<p>
				雖然背負著電機學長的身分，但我的本質是一位女生窩XDD，目前角色定為類似公關
				</p>
				<hr>

				<p>
				馨雨點點 - RainSweet
				</p>

				<p>
				服務據點：<a href="http://www.plurk.com/davistonyhsu" class="urlextern" title="http://www.plurk.com/davistonyhsu" rel="nofollow">Plurk</a>
				</p>

				<p>
				以小女生的花樣做為裝飾，目前正在前端設計的世界活躍著（噗浪頁面就這樣被我搞砸了ww）
				</p>
				<hr>

				<p>
				曉石之音 - OtomeSound
				</p>

				<p>
				服務據點：<a href="https://twitter.com/OtomeSound" class="urlextern" title="https://twitter.com/OtomeSound" rel="nofollow">Twitter</a>
				</p>

				<p>
				以吾之音，憾動汝之心，只為探求一己之信念，去引領有情之心。
				</p>

		</div>
</div>


