@import "background/win8ball";
@import "background/menu";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "sub/bubble";
@import "sub/repo";
@import "sub/wiki";
@import "sub/tumblr";
html{
	height:auto;
}
body{
	height:100%;
	position:relative;
	background-color:#000;
	font-family:Gotham, Lucida Grande, Arial;
	a{
		text-decoration:none;
	}
}

h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
}

#loading{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.45);
	z-index:999;
}

#circle{
	position:fixed;
	left:50%;
	margin-left:-45px;
	margin-top:100px;
	p{
		color:white;
	}
}

#background{
	position:fixed;
	background-image:url(./../images/wallpaper.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	opacity:.55;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-size:cover;
}
#mainpage{
	position:absolute;
	top:20px;
	left:10px;
	margin:auto;
	width:98%;
	height:100%;
	#content{
		margin-top:50px;
		width:100%;
		height:100%;
		color:white;
		padding:10px;
	}
	#cover{
		@include background(linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.65) 50%, rgba(0,0,0,0) 100%));
		padding:5%;
		width:100%;
		p{
			color:white;
			text-align: center;	
		}
	}
}


