@import "compass/css3/images";
@import "compass/css3/transform";
@import "menu/animation";
@import "menu/Keyframe";

$bubbleOpacity:0.3;
$bubbleWidth:150px;
$bubbleHeight:150px;
$bubble-name: ( DropStone , DreamSakura , RainSweet , OtomeSound );

.wrapper{
	float:right;
}

.about{
	margin:20px;
}

.ball {
		cursor:pointer;
		display: inline-block;
		width: $bubbleWidth;
		height: $bubbleHeight;
		@media screen and (max-width: 800px) and (max-height:800px){
			width: $bubbleWidth*0.66;
			height:$bubbleHeight*0.66;
		}
		margin: 0;
		margin-left: auto;
		margin-right:auto;
		border-radius: 50%;
		position: relative;
		background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, $bubbleOpacity+0.1)), color-stop(40%, rgba(240, 245, 255, $bubbleOpacity+0.1)), color-stop(60%, rgba(225, 238, 255, $bubbleOpacity)), color-stop(100%, rgba(43, 130, 255, $bubbleOpacity/2)));
		@include background-image(radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, $bubbleOpacity+0.1), rgba(240, 245, 255, $bubbleOpacity+0.1) 40%, rgba(225, 238, 255, $bubbleOpacity) 60%, rgba(43, 130, 255, $bubbleOpacity/2)));
		&:active, &:hover{
				@include animation(bubble-anim 2s ease-out 1);
		}
		p{
				text-align:center;
				margin-top:$bubbleHeight/3;
				color:black;
			@media screen and (max-width: 800px) and (max-height:800px){
				margin-top:$bubbleHeight*(2/9);
			}
		}
		&:before {
				/* Sheen on the bottom right */
				content: "";
				position: absolute;
				top: 1%;
				left: 5%;
				width: 90%;
				height: 90%;
				border-radius: 50%;
				-webkit-filter: blur(0);
				height: 80%;
				width: 40%;
				background: -webkit-gradient(radial, 130% 130%, 0, 130% 130%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, $bubbleOpacity/2)), color-stop(58%, rgba(255, 255, 255, $bubbleOpacity/2)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
				@include background-image(radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, $bubbleOpacity/2) 50%, rgba(255, 255, 255, $bubbleOpacity/2) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%));
				@include transform(translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg));
		}
		&:after {
				/* Top left highlight */
				content: "";
				position: absolute;
				top: 5%;
				left: 10%;
				width: 80%;
				height: 80%;
				border-radius: 100%;
				background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(80%, #ffffff), color-stop(84%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
				@include background-image(radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%));
				opacity: $bubbleOpacity - 0.2;
				-webkit-filter: blur(1px);
				z-index: 2;
				@include rotateZ(-30deg);
		}
}
.stage {
		width: $bubbleWidth;
		height: $bubbleHeight;
		@media screen and (max-width: 800px) and (max-height:800px){
			width: $bubbleWidth*0.66;
			height:$bubbleHeight*0.66;
		}
		display: inline-block;
		margin: 20px;
		@include perspective(1200px);
		@include perspective-origin(50% 50%);
		$Deg:270;
		@each $name in $bubble-name{
			$Degree:$Deg+90deg;
			&[name=#{$name}] .ball{
				background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, adjust-hue(rgba(240, 245, 255, $bubbleOpacity+0.1), $Degree)), color-stop(40%, adjust-hue(rgba(240, 245, 255, $bubbleOpacity+0.1), $Degree)), color-stop(60%, adjust-hue(rgba(225, 238, 255, $bubbleOpacity), $Degree)), color-stop(100%, adjust-hue(rgba(43, 130, 255, $bubbleOpacity/2), $Degree)));
		@include background-image(radial-gradient(50% 55%, circle cover, adjust-hue(rgba(240, 245, 255, $bubbleOpacity+0.1), $Degree), adjust-hue(rgba(240, 245, 255, $bubbleOpacity+0.1), $Degree) 40%, adjust-hue(rgba(225, 238, 255, $bubbleOpacity), $Degree) 60%, adjust-hue(rgba(43, 130, 255, $bubbleOpacity/2), $Degree)));
			}
			$Deg:$Deg+270;
		}
}

@include keyframe(bubble-anim){
		0% {
				@include scale(1);
		}
		20% {
				@include scale(1.05, 0.95);
		}
		48% {
				@include scale(0.9, 1.1);
		}
		68% {
				@include scale(1.02, 0.98);
		}
		80% {
				@include scale(0.98, 1.02);
		}
		97%, 100% {
				@include scale(1); 
		}
}
