/* line 1, ../sass/style.sass */
body {
  background-color: rgba(241, 233, 147, 0.7);
  font-family: Arial, "WenQuanYi Zen Hei", "Heiti TC", "LiHei Pro", "Microsoft JhengHei", DFKai-SB, sans-serif;
  line-height: 190%;
  letter-spacing: 0.45px;
}

/* line 7, ../sass/style.sass */
.container {
  padding: 10%;
  padding-top: 150px;
}
/* line 10, ../sass/style.sass */
.container section {
  margin-top: 25px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #aaa;
  padding-left: 15px;
}
/* line 15, ../sass/style.sass */
.container section p {
  margin-left: 10px;
}
