/* line 1, ../scss/background/_win8ball.scss */
body {
  background: #000;
}

/* line 4, ../scss/background/_win8ball.scss */
.windows8 {
  position: relative;
  width: 90px;
  height: 90px;
}

/* line 10, ../scss/background/_win8ball.scss */
.windows8 .wBall {
  position: absolute;
  width: 86px;
  height: 86px;
  opacity: 0;
  -moz-transform: rotate(225deg);
  -moz-animation: orbit 4.4s infinite;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 4.4s infinite;
  -ms-transform: rotate(225deg);
  -ms-animation: orbit 4.4s infinite;
  -o-transform: rotate(225deg);
  -o-animation: orbit 4.4s infinite;
  transform: rotate(225deg);
  animation: orbit 4.4s infinite;
}

/* line 27, ../scss/background/_win8ball.scss */
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #FFFFFF;
  left: 0px;
  top: 0px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}

/* line 41, ../scss/background/_win8ball.scss */
.windows8 #wBall_1 {
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  -ms-animation-delay: 0.96s;
  -o-animation-delay: 0.96s;
  animation-delay: 0.96s;
}

/* line 49, ../scss/background/_win8ball.scss */
.windows8 #wBall_2 {
  -moz-animation-delay: 0.19s;
  -webkit-animation-delay: 0.19s;
  -ms-animation-delay: 0.19s;
  -o-animation-delay: 0.19s;
  animation-delay: 0.19s;
}

/* line 57, ../scss/background/_win8ball.scss */
.windows8 #wBall_3 {
  -moz-animation-delay: 0.38s;
  -webkit-animation-delay: 0.38s;
  -ms-animation-delay: 0.38s;
  -o-animation-delay: 0.38s;
  animation-delay: 0.38s;
}

/* line 65, ../scss/background/_win8ball.scss */
.windows8 #wBall_4 {
  -moz-animation-delay: 0.58s;
  -webkit-animation-delay: 0.58s;
  -ms-animation-delay: 0.58s;
  -o-animation-delay: 0.58s;
  animation-delay: 0.58s;
}

/* line 73, ../scss/background/_win8ball.scss */
.windows8 #wBall_5 {
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  -ms-animation-delay: 0.77s;
  -o-animation-delay: 0.77s;
  animation-delay: 0.77s;
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
/* line 1, ../scss/background/_menu.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/background/_menu.scss */
.container {
  padding: 80px;
}

/* line 13, ../scss/background/_menu.scss */
.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

/* line 28, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 50px 150px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}

/* line 36, ../scss/background/_menu.scss */
.bt-overlay {
  position: absolute;
  width: 100%;
}

/* line 41, ../scss/background/_menu.scss */
.bt-menu-open .bt-overlay {
  height: 100%;
}

/* line 45, ../scss/background/_menu.scss */
.bt-menu-trigger {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 56, ../scss/background/_menu.scss */
.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 8%;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* line 75, ../scss/background/_menu.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 87, ../scss/background/_menu.scss */
.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

/* line 92, ../scss/background/_menu.scss */
.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

/* line 97, ../scss/background/_menu.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

/* line 102, ../scss/background/_menu.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

/* line 107, ../scss/background/_menu.scss */
.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 114, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type {
  top: 75px;
  left: 0;
}

/* line 119, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
}

/* line 124, ../scss/background/_menu.scss */
.bt-menu ul li,
.bt-menu ul li a {
  display: block;
}

/* line 129, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px;
}

/* line 134, ../scss/background/_menu.scss */
.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

/* line 141, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
/* line 150, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translate3d(-100%, 50%, 0);
  transform: translate3d(-100%, 50%, 0);
}

/* line 158, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:first-of-type li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Second menu */
/* line 164, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 172, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 177, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 182, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 187, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 192, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 197, ../scss/background/_menu.scss */
.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none;
}

/* line 203, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li a {
  padding: 0 20px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 214, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2);
}

/* line 218, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li a {
  color: transparent;
  text-align: center;
  font-size: 0px;
}

/* line 224, ../scss/background/_menu.scss */
.bt-menu ul li a:before {
  color: #fff;
  font-size: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 231, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
  color: #1abc9c;
}

/*
    Example usage: 
    @include animation(changecolour, 5s, 10s)
 */
/* line 11, ../scss/sub/_bubble.scss */
.wrapper {
  float: right;
}

/* line 15, ../scss/sub/_bubble.scss */
.about {
  margin: 20px;
}

/* line 19, ../scss/sub/_bubble.scss */
.ball {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjU1JSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjVmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2YwZjVmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2UxZWVmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjgyZmYiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: radial-gradient(circle cover at 50% 55%, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 19, ../scss/sub/_bubble.scss */
  .ball {
    width: 99px;
    height: 99px;
  }
}
/* line 35, ../scss/sub/_bubble.scss */
.ball:active, .ball:hover {
  -webkit-animation: bubble-anim 2s ease-out 1;
  -moz-animation: bubble-anim 2s ease-out 1;
  -o-animation: bubble-anim 2s ease-out 1;
  -ms-animation: bubble-anim 2s ease-out 1;
  animation: bubble-anim 2s ease-out 1;
}
/* line 38, ../scss/sub/_bubble.scss */
.ball p {
  text-align: center;
  margin-top: 50px;
  color: black;
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 38, ../scss/sub/_bubble.scss */
  .ball p {
    margin-top: 33.33333px;
  }
}
/* line 46, ../scss/sub/_bubble.scss */
.ball:before {
  /* Sheen on the bottom right */
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  -webkit-filter: blur(0);
  height: 80%;
  width: 40%;
  background: -webkit-gradient(radial, 130% 130%, 0, 130% 130%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15)), color-stop(58%, rgba(255, 255, 255, 0.15)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEzMCUiIGN5PSIxMzAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -moz-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -ms-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
/* line 62, ../scss/sub/_bubble.scss */
.ball:after {
  /* Top left highlight */
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(80%, #ffffff), color-stop(84%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjgwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(circle cover at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.1;
  -webkit-filter: blur(1px);
  z-index: 2;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* line 79, ../scss/sub/_bubble.scss */
.stage {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  -moz-perspective: 1200px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -moz-perspective-origin: 50% 50%;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 79, ../scss/sub/_bubble.scss */
  .stage {
    width: 99px;
    height: 99px;
  }
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=DropStone] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjU1JSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjVmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2YwZjVmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2UxZWVmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjgyZmYiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: radial-gradient(circle cover at 50% 55%, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=DreamSakura] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 255, 243, 0.4)), color-stop(40%, rgba(240, 255, 243, 0.4)), color-stop(60%, rgba(225, 255, 227, 0.3)), color-stop(100%, rgba(43, 255, 62, 0.15)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjU1JSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZmZmMyIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2YwZmZmMyIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2UxZmZlMyIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYmZmM2UiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
  background-image: radial-gradient(circle cover at 50% 55%, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=RainSweet] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 250, 240, 0.4)), color-stop(40%, rgba(255, 250, 240, 0.4)), color-stop(60%, rgba(255, 242, 225, 0.3)), color-stop(100%, rgba(255, 168, 43, 0.15)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjU1JSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmFmMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmFmMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZjJlMSIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmE4MmIiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
  background-image: radial-gradient(circle cover at 50% 55%, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=OtomeSound] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 240, 252, 0.4)), color-stop(40%, rgba(255, 240, 252, 0.4)), color-stop(60%, rgba(255, 225, 253, 0.3)), color-stop(100%, rgba(255, 43, 236, 0.15)));
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjU1JSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjBmYyIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZjBmYyIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZTFmZCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjJiZWMiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
  background-image: radial-gradient(circle cover at 50% 55%, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
}

@-webkit-keyframes $animation_name {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  48% {
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  68% {
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -webkit-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  80% {
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -webkit-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  97%, 100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes $animation_name {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  48% {
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  68% {
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -webkit-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  80% {
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -webkit-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  97%, 100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes $animation_name {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  48% {
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  68% {
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -webkit-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  80% {
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -webkit-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  97%, 100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes $animation_name {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  20% {
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  48% {
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  68% {
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -webkit-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }
  80% {
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -webkit-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }
  97%, 100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 3, ../scss/sub/_repo.scss */
#repo {
  float: right;
}
/* line 5, ../scss/sub/_repo.scss */
#repo div {
  background-color: rgba(0, 0, 0, 0.45);
  position: relative;
  float: left;
  width: 30%;
  margin: 1%;
  padding-left: 5%;
}
@media screen and (max-width: 800px) {
  /* line 5, ../scss/sub/_repo.scss */
  #repo div {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  /* line 5, ../scss/sub/_repo.scss */
  #repo div {
    width: 100%;
  }
}
/* line 18, ../scss/sub/_repo.scss */
#repo div.forked:after {
  background-color: rgba(255, 0, 0, 0.65);
  content: "forked";
  position: absolute;
  left: -2%;
  top: -2%;
  font-weight: bold;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1, ../scss/sub/_wiki.scss */
#container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
  float: left;
}
/* line 6, ../scss/sub/_wiki.scss */
#container #index {
  display: table-cell;
  float: left;
  padding-left: 20%;
}
/* line 11, ../scss/sub/_wiki.scss */
#container #wikiAbout {
  display: table-cell;
  float: left;
  padding-top: 20%;
}
/* line 15, ../scss/sub/_wiki.scss */
#container #wikiAbout p {
  text-decoration: none;
  font: 100 25px/0.7 "Oleo Script",Helvetica,sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
/* line 21, ../scss/sub/_wiki.scss */
#container #wikiAbout img {
  padding-left: 20%;
}
@media screen and (min-width: 765px) and (max-width: 790px) {
  /* line 11, ../scss/sub/_wiki.scss */
  #container #wikiAbout {
    padding-right: 50%;
  }
}
/* line 28, ../scss/sub/_wiki.scss */
#container ul {
  position: relative;
  text-decoration: none;
}
/* line 31, ../scss/sub/_wiki.scss */
#container ul li {
  color: transparent;
  text-decoration: none;
  background-color: inherit;
}
/* line 35, ../scss/sub/_wiki.scss */
#container ul li strong {
  color: #080;
  cursor: pointer;
}
/* line 39, ../scss/sub/_wiki.scss */
#container ul li a {
  color: #2b73b7;
}
/* line 43, ../scss/sub/_wiki.scss */
#container ul button {
  position: absolute;
  right: -100px;
  bottom: 0;
}
/* line 49, ../scss/sub/_wiki.scss */
#container #index {
  max-height: 80%;
}

/* line 1, ../scss/sub/_tumblr.scss */
#tumblr {
  padding: 5%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.45);
}
/* line 6, ../scss/sub/_tumblr.scss */
#tumblr a {
  color: white;
}
/* line 9, ../scss/sub/_tumblr.scss */
#tumblr #front_post, #tumblr #other_posts {
  width: 45%;
  float: left;
  padding: 2%;
}
@media screen and (max-width: 810px) {
  /* line 9, ../scss/sub/_tumblr.scss */
  #tumblr #front_post, #tumblr #other_posts {
    width: 100%;
  }
}

/* line 10, ../scss/mainpage.scss */
html {
  height: auto;
}

/* line 13, ../scss/mainpage.scss */
body {
  height: 100%;
  position: relative;
  background-color: #000;
  font-family: Gotham, Lucida Grande, Arial;
}
/* line 18, ../scss/mainpage.scss */
body a {
  text-decoration: none;
}

/* line 23, ../scss/mainpage.scss */
.codrops-header > h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* line 30, ../scss/mainpage.scss */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

/* line 38, ../scss/mainpage.scss */
#circle {
  position: fixed;
  left: 50%;
  margin-left: -45px;
  margin-top: 100px;
}
/* line 43, ../scss/mainpage.scss */
#circle p {
  color: white;
}

/* line 48, ../scss/mainpage.scss */
#background {
  position: fixed;
  background-image: url(./../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .55;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* line 60, ../scss/mainpage.scss */
#mainpage {
  position: absolute;
  top: 20px;
  left: 10px;
  margin: auto;
  width: 98%;
  height: 100%;
}
/* line 67, ../scss/mainpage.scss */
#mainpage #content {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
}
/* line 74, ../scss/mainpage.scss */
#mainpage #cover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  padding: 5%;
  width: 100%;
}
/* line 78, ../scss/mainpage.scss */
#mainpage #cover p {
  color: white;
  text-align: center;
}
