/* line 1, ../scss/background/_win8ball.scss */
body {
  background: #000;
}

/* line 4, ../scss/background/_win8ball.scss */
.windows8 {
  position: relative;
  width: 90px;
  height: 90px;
}

/* line 10, ../scss/background/_win8ball.scss */
.windows8 .wBall {
  position: absolute;
  width: 86px;
  height: 86px;
  opacity: 0;
  -moz-transform: rotate(225deg);
  -moz-animation: orbit 4.4s infinite;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 4.4s infinite;
  -ms-transform: rotate(225deg);
  -ms-animation: orbit 4.4s infinite;
  -o-transform: rotate(225deg);
  -o-animation: orbit 4.4s infinite;
  transform: rotate(225deg);
  animation: orbit 4.4s infinite;
}

/* line 27, ../scss/background/_win8ball.scss */
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #FFFFFF;
  left: 0px;
  top: 0px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}

/* line 41, ../scss/background/_win8ball.scss */
.windows8 #wBall_1 {
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  -ms-animation-delay: 0.96s;
  -o-animation-delay: 0.96s;
  animation-delay: 0.96s;
}

/* line 49, ../scss/background/_win8ball.scss */
.windows8 #wBall_2 {
  -moz-animation-delay: 0.19s;
  -webkit-animation-delay: 0.19s;
  -ms-animation-delay: 0.19s;
  -o-animation-delay: 0.19s;
  animation-delay: 0.19s;
}

/* line 57, ../scss/background/_win8ball.scss */
.windows8 #wBall_3 {
  -moz-animation-delay: 0.38s;
  -webkit-animation-delay: 0.38s;
  -ms-animation-delay: 0.38s;
  -o-animation-delay: 0.38s;
  animation-delay: 0.38s;
}

/* line 65, ../scss/background/_win8ball.scss */
.windows8 #wBall_4 {
  -moz-animation-delay: 0.58s;
  -webkit-animation-delay: 0.58s;
  -ms-animation-delay: 0.58s;
  -o-animation-delay: 0.58s;
  animation-delay: 0.58s;
}

/* line 73, ../scss/background/_win8ball.scss */
.windows8 #wBall_5 {
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  -ms-animation-delay: 0.77s;
  -o-animation-delay: 0.77s;
  animation-delay: 0.77s;
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
/* line 4, ../scss/background/_menu.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/background/_menu.scss */
header {
  padding-top: 80px;
}

/* line 16, ../scss/background/_menu.scss */
.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  -o-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s;
  -webkit-transition-delay: 0s, 0s, 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

/* line 30, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 50px 150px;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-transition: border-width 0.3s, background-color 0.3s;
  -o-transition: border-width 0.3s, background-color 0.3s;
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}

/* line 37, ../scss/background/_menu.scss */
.bt-overlay {
  position: absolute;
  width: 100%;
}

/* line 42, ../scss/background/_menu.scss */
.bt-menu-open .bt-overlay {
  height: 100%;
}

/* line 46, ../scss/background/_menu.scss */
.bt-menu-trigger {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 57, ../scss/background/_menu.scss */
.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 8%;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: border-width 0.3s;
  -o-transition: border-width 0.3s;
  -webkit-transition: border-width 0.3s;
  transition: border-width 0.3s;
}

/* line 75, ../scss/background/_menu.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 86, ../scss/background/_menu.scss */
.bt-menu-trigger span:before {
  -moz-transform: translateY(-250%);
  -ms-transform: translateY(-250%);
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

/* line 90, ../scss/background/_menu.scss */
.bt-menu-trigger span:after {
  -moz-transform: translateY(250%);
  -ms-transform: translateY(250%);
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

/* line 94, ../scss/background/_menu.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

/* line 98, ../scss/background/_menu.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}

/* line 102, ../scss/background/_menu.scss */
.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 109, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type {
  top: 75px;
  left: 0;
}

/* line 114, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
}

/* line 119, ../scss/background/_menu.scss */
.bt-menu ul li,
.bt-menu ul li a {
  display: block;
}

/* line 124, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px;
}

/* line 129, ../scss/background/_menu.scss */
.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s;
  -webkit-transition-delay: 0s, 0s, 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

/* line 135, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
/* line 143, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li {
  width: 150px;
  height: 50px;
  line-height: 50px;
  -moz-transform: translate3d(-100%, 50%, 0);
  -webkit-transform: translate3d(-100%, 50%, 0);
  transform: translate3d(-100%, 50%, 0);
}

/* line 150, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:first-of-type li {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Second menu */
/* line 155, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* line 162, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 166, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 170, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 174, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 178, ../scss/background/_menu.scss */
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 182, ../scss/background/_menu.scss */
.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none;
}

/* line 188, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li a {
  padding: 0 20px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 198, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2);
}

/* line 202, ../scss/background/_menu.scss */
.bt-menu ul:nth-of-type(2) li a {
  color: transparent;
  text-align: center;
  font-size: 0px;
}

/* line 208, ../scss/background/_menu.scss */
.bt-menu ul li a:before {
  color: #fff;
  font-size: 24px;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 214, ../scss/background/_menu.scss */
.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
  color: lightblue;
  cursor: pointer;
}

/* line 1, ../scss/sub/_blank.scss */
#blank {
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
}

/* line 23, ../scss/sub/_about.scss */
#content ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  -webkit-padding-start: 0px;
}

/* line 30, ../scss/sub/_about.scss */
.section {
  width: 100%;
  float: left;
}
/* line 33, ../scss/sub/_about.scss */
.section li {
  cursor: pointer;
}

/* line 38, ../scss/sub/_about.scss */
.text-section {
  width: 95%;
  padding: 2.5%;
}
/* line 41, ../scss/sub/_about.scss */
.text-section p {
  line-height: 150%;
  letter-spacing: 1px;
}

/* line 47, ../scss/sub/_about.scss */
.grid-4 {
  position: relative;
  width: 24%;
  margin: 0.5%;
  float: left;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 899px) {
  /* line 47, ../scss/sub/_about.scss */
  .grid-4 {
    width: 49%;
  }
}
@media screen and (max-width: 499px) {
  /* line 47, ../scss/sub/_about.scss */
  .grid-4 {
    width: 100%;
  }
}

/* line 62, ../scss/sub/_about.scss */
.grid-2 {
  position: relative;
  width: 49%;
  margin: 0.5%;
  float: left;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 899px) {
  /* line 62, ../scss/sub/_about.scss */
  .grid-2 {
    width: 100%;
  }
}

/* line 74, ../scss/sub/_about.scss */
.pageBtn {
  font-family: inherit;
  position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
/* line 90, ../scss/sub/_about.scss */
.pageBtn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 96, ../scss/sub/_about.scss */
.pageBtn h4 {
  margin-top: 17px;
}

/* line 101, ../scss/sub/_about.scss */
.icon-splash {
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 30px;
}

/* line 13, ../scss/sub/_about.scss */
.facebook {
  background: #425F9C;
  border-bottom: 2px solid #3a5388;
  -webkit-box-shadow: inset 0 -2px #3a5388;
  box-shadow: inset 0 -2px #3a5388;
}

/* line 13, ../scss/sub/_about.scss */
.google__plus {
  background: #DD4B39;
  border-bottom: 2px solid #d53825;
  -webkit-box-shadow: inset 0 -2px #d53825;
  box-shadow: inset 0 -2px #d53825;
}

/* line 13, ../scss/sub/_about.scss */
.plurk {
  background: #CF682F;
  border-bottom: 2px solid #b85d2a;
  -webkit-box-shadow: inset 0 -2px #b85d2a;
  box-shadow: inset 0 -2px #b85d2a;
}

/* line 13, ../scss/sub/_about.scss */
.twitter {
  background: #0084B4;
  border-bottom: 2px solid #006f98;
  -webkit-box-shadow: inset 0 -2px #006f98;
  box-shadow: inset 0 -2px #006f98;
}

/* line 13, ../scss/sub/_about.scss */
.yahoo {
  background: #4101AF;
  border-bottom: 2px solid #370193;
  -webkit-box-shadow: inset 0 -2px #370193;
  box-shadow: inset 0 -2px #370193;
}

/* line 13, ../scss/sub/_about.scss */
.linkedin {
  background: #1B86BC;
  border-bottom: 2px solid #1775a3;
  -webkit-box-shadow: inset 0 -2px #1775a3;
  box-shadow: inset 0 -2px #1775a3;
}

/* line 13, ../scss/sub/_about.scss */
.qq {
  background: #3D95D5;
  border-bottom: 2px solid #2c87ca;
  -webkit-box-shadow: inset 0 -2px #2c87ca;
  box-shadow: inset 0 -2px #2c87ca;
}

/* line 13, ../scss/sub/_about.scss */
.github {
  background: #000000;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset 0 -2px black;
  box-shadow: inset 0 -2px black;
}

/* line 13, ../scss/sub/_about.scss */
.bitbucket {
  background: #205081;
  border-bottom: 2px solid #1a426b;
  -webkit-box-shadow: inset 0 -2px #1a426b;
  box-shadow: inset 0 -2px #1a426b;
}

/* line 13, ../scss/sub/_about.scss */
.trello {
  background: #0078BD;
  border-bottom: 2px solid #0066a1;
  -webkit-box-shadow: inset 0 -2px #0066a1;
  box-shadow: inset 0 -2px #0066a1;
}

/* line 13, ../scss/sub/_about.scss */
.tumblr {
  background: #36465D;
  border-bottom: 2px solid #2c394b;
  -webkit-box-shadow: inset 0 -2px #2c394b;
  box-shadow: inset 0 -2px #2c394b;
}

/* line 110, ../scss/sub/_about.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 5%;
  cursor: auto;
  padding: 5%;
  text-align: center;
}
/* line 121, ../scss/sub/_about.scss */
.overlay .avatar-wrapper {
  padding: 10px;
  border-radius: 7%;
  margin-top: -100px;
}
/* line 126, ../scss/sub/_about.scss */
.overlay .avatar {
  width: 180px;
  height: auto;
  border-radius: 7%;
}
/* line 131, ../scss/sub/_about.scss */
.overlay .platbg-wrapper {
  height: 340px;
  overflow: hidden;
}
/* line 135, ../scss/sub/_about.scss */
.overlay .platbg {
  width: 600px;
}
/* line 138, ../scss/sub/_about.scss */
.overlay .close, .overlay .linkto {
  color: white;
}
/* line 140, ../scss/sub/_about.scss */
.overlay .close:hover, .overlay .close:active, .overlay .close:focus, .overlay .close:visited, .overlay .linkto:hover, .overlay .linkto:active, .overlay .linkto:focus, .overlay .linkto:visited {
  text-decoration: underline;
  color: white;
}

/* line 147, ../scss/sub/_about.scss */
blockquote {
  border-left: .5em solid #40AA53;
  padding: 0 2em;
  margin-left: 0;
  max-width: 476px;
}
/* line 152, ../scss/sub/_about.scss */
blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}
/* line 156, ../scss/sub/_about.scss */
blockquote cite:before {
  content: '\2014 \00A0';
}
/* line 160, ../scss/sub/_about.scss */
blockquote p {
  color: #F2CA8A;
  max-width: 460px;
}

/* line 166, ../scss/sub/_about.scss */
.link-icon-group {
  float: right;
}
/* line 168, ../scss/sub/_about.scss */
.link-icon-group a, .link-icon-group a:hover, .link-icon-group a:active, .link-icon-group a:focus {
  position: relative;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-left: 20px;
}
@media screen and (max-width: 499px) {
  /* line 166, ../scss/sub/_about.scss */
  .link-icon-group {
    width: 100%;
  }
}

/* line 180, ../scss/sub/_about.scss */
.progress {
  padding: 10px 0 10px 0;
}

/* line 184, ../scss/sub/_about.scss */
.progress-bar {
  text-align: center;
  position: relative;
  height: 16px;
  border-radius: 4px;
  -moz-transition: linear 0.4s;
  -o-transition: linear 0.4s;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
/* line 192, ../scss/sub/_about.scss */
.progress-bar:after {
  background-color: rgba(0, 0, 0, 0.45);
}

/* line 197, ../scss/sub/_about.scss */
.progress.newTo > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}
/* line 200, ../scss/sub/_about.scss */
.progress.newTo > .progress-bar:after {
  content: 'New To';
}

/* line 205, ../scss/sub/_about.scss */
.progress.little > .progress-bar {
  width: 25%;
  background-color: #dd5600;
}
/* line 208, ../scss/sub/_about.scss */
.progress.little > .progress-bar:after {
  content: 'Little';
}

/* line 213, ../scss/sub/_about.scss */
.progress.moderate > .progress-bar {
  width: 50%;
  background-color: #033c73;
}
/* line 216, ../scss/sub/_about.scss */
.progress.moderate > .progress-bar:after {
  content: 'Moderate';
}

/* line 221, ../scss/sub/_about.scss */
.progress.highLevel > .progress-bar {
  width: 75%;
  background-color: #52D8AA;
}
/* line 224, ../scss/sub/_about.scss */
.progress.highLevel > .progress-bar:after {
  content: 'High Level';
}

/* line 229, ../scss/sub/_about.scss */
.progress.proficient > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}
/* line 232, ../scss/sub/_about.scss */
.progress.proficient > .progress-bar:after {
  content: 'Proficient';
}

/* line 14, ../scss/sub/_repo.scss */
#content {
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
}
/* line 19, ../scss/sub/_repo.scss */
#content #repo > * {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 1%;
  padding-left: 5%;
  border: 1px solid lightgreen;
  border-radius: 10px;
}
@media screen and (min-width: 799px) {
  /* line 19, ../scss/sub/_repo.scss */
  #content #repo > * {
    width: 48%;
    height: 200px;
  }
}
@media screen and (min-width: 999px) {
  /* line 19, ../scss/sub/_repo.scss */
  #content #repo > * {
    height: 120px;
  }
}

/* line 39, ../scss/sub/_repo.scss */
.lang {
  display: inline-block;
  padding: 0;
  right: 5%;
  top: 0;
}
@media screen and (min-width: 599px) {
  /* line 39, ../scss/sub/_repo.scss */
  .lang {
    position: absolute;
  }
}
@media screen and (min-width: 799px) {
  /* line 39, ../scss/sub/_repo.scss */
  .lang {
    position: static;
  }
}
@media screen and (min-width: 999px) {
  /* line 39, ../scss/sub/_repo.scss */
  .lang {
    position: absolute;
  }
}
/* line 53, ../scss/sub/_repo.scss */
.lang.ruby {
  text-shadow: 0 0 1px #fff, 0 0 2px #701516, 0 0 3px #701516, 0 0 4px #701516, 0 0 7px #701516, 0 0 8px rgba(112, 21, 22, 0.65), 0 0 10px rgba(112, 21, 22, 0.45), 0 0 15px rgba(112, 21, 22, 0.15);
}
/* line 56, ../scss/sub/_repo.scss */
.lang.php {
  text-shadow: 0 0 1px #fff, 0 0 2px #4F5D95, 0 0 3px #4F5D95, 0 0 4px #4F5D95, 0 0 7px #4F5D95, 0 0 8px rgba(79, 93, 149, 0.65), 0 0 10px rgba(79, 93, 149, 0.45), 0 0 15px rgba(79, 93, 149, 0.15);
}
/* line 59, ../scss/sub/_repo.scss */
.lang.javascript {
  text-shadow: 0 0 1px #fff, 0 0 2px #f1e05a, 0 0 3px #f1e05a, 0 0 4px #f1e05a, 0 0 7px #f1e05a, 0 0 8px rgba(241, 224, 90, 0.65), 0 0 10px rgba(241, 224, 90, 0.45), 0 0 15px rgba(241, 224, 90, 0.15);
}
/* line 62, ../scss/sub/_repo.scss */
.lang.css {
  text-shadow: 0 0 1px #fff, 0 0 2px #563d7c, 0 0 3px #563d7c, 0 0 4px #563d7c, 0 0 7px #563d7c, 0 0 8px rgba(86, 61, 124, 0.65), 0 0 10px rgba(86, 61, 124, 0.45), 0 0 15px rgba(86, 61, 124, 0.15);
}
/* line 65, ../scss/sub/_repo.scss */
.lang.viml {
  text-shadow: 0 0 1px #fff, 0 0 2px #199c4b, 0 0 3px #199c4b, 0 0 4px #199c4b, 0 0 7px #199c4b, 0 0 8px rgba(25, 156, 75, 0.65), 0 0 10px rgba(25, 156, 75, 0.45), 0 0 15px rgba(25, 156, 75, 0.15);
}
/* line 68, ../scss/sub/_repo.scss */
.lang.python {
  text-shadow: 0 0 1px #fff, 0 0 2px #3581ba, 0 0 3px #3581ba, 0 0 4px #3581ba, 0 0 7px #3581ba, 0 0 8px rgba(53, 129, 186, 0.65), 0 0 10px rgba(53, 129, 186, 0.45), 0 0 15px rgba(53, 129, 186, 0.15);
}
/* line 71, ../scss/sub/_repo.scss */
.lang.shell {
  text-shadow: 0 0 1px #fff, 0 0 2px #89e051, 0 0 3px #89e051, 0 0 4px #89e051, 0 0 7px #89e051, 0 0 8px rgba(137, 224, 81, 0.65), 0 0 10px rgba(137, 224, 81, 0.45), 0 0 15px rgba(137, 224, 81, 0.15);
}

/* line 75, ../scss/sub/_repo.scss */
#RepoChartContainer {
  width: 100%;
}

/* line 79, ../scss/sub/_repo.scss */
.link {
  width: 25px;
  height: 25px;
  background: url("../images/link_ext.svg");
  background-size: 25px 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* line 1, ../scss/sub/_wiki.scss */
#container {
  clear: both;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
  float: left;
  height: 100%;
  overflow: auto;
}

/* line 11, ../scss/sub/_wiki.scss */
.dl-menuwrapper {
  width: 100%;
  height: 500px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

/* line 22, ../scss/sub/_wiki.scss */
.dl-menuwrapper:first-child {
  margin-right: 100px;
}

/* line 26, ../scss/sub/_wiki.scss */
.dl-menuwrapper button {
  background: none;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
}

/* line 38, ../scss/sub/_wiki.scss */
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: none;
}

/* line 44, ../scss/sub/_wiki.scss */
.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: #fff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #fff,  0 20px 0 #fff;
}

/* line 57, ../scss/sub/_wiki.scss */
.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 64, ../scss/sub/_wiki.scss */
.dl-menuwrapper li {
  position: relative;
}

/* line 68, ../scss/sub/_wiki.scss */
.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  outline: none;
}
/* line 77, ../scss/sub/_wiki.scss */
.dl-menuwrapper li a strong {
  font-weight: bold;
}

/* line 82, ../scss/sub/_wiki.scss */
.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
}

/* line 86, ../scss/sub/_wiki.scss */
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 91, ../scss/sub/_wiki.scss */
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'FontAwesome';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\F0D9";
}

/* line 102, ../scss/sub/_wiki.scss */
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
}

/* line 107, ../scss/sub/_wiki.scss */
.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

/* line 112, ../scss/sub/_wiki.scss */
.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 124, ../scss/sub/_wiki.scss */
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

/* line 128, ../scss/sub/_wiki.scss */
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
/* line 136, ../scss/sub/_wiki.scss */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
/* line 147, ../scss/sub/_wiki.scss */
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

/* line 153, ../scss/sub/_wiki.scss */
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
/* line 162, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
/* line 172, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

/* line 177, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

/* line 182, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

/* line 187, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

/* line 192, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
@keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}
/* line 298, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

/* line 303, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

/* line 308, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

/* line 313, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

/* line 318, ../scss/sub/_wiki.scss */
.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* line 452, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

/* line 457, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

/* line 462, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

/* line 467, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

/* line 472, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/* line 597, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

/* line 602, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

/* line 607, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

/* line 612, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

/* line 617, ../scss/sub/_wiki.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}
/* No JS Fallback */
/* line 743, ../scss/sub/_wiki.scss */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

/* line 750, ../scss/sub/_wiki.scss */
.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

/* line 754, ../scss/sub/_wiki.scss */
.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

/* line 758, ../scss/sub/_wiki.scss */
.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

/* line 762, ../scss/sub/_wiki.scss */
.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

/* line 766, ../scss/sub/_wiki.scss */
.dl-trigger {
  display: none;
}

/* line 3, ../scss/sub/_tumblr.scss */
#content .more a.left {
  float: left;
}
/* line 6, ../scss/sub/_tumblr.scss */
#content .more a.right {
  float: right;
}
/* line 9, ../scss/sub/_tumblr.scss */
#content .more a.clear {
  clear: both;
}

/* line 11, ../scss/mainpage.scss */
html {
  height: auto;
  overflow-x: hidden;
}

/* line 15, ../scss/mainpage.scss */
body {
  height: 100%;
  position: relative;
  background-color: #000;
  font-family: Gotham, Lucida Grande, Arial;
}
/* line 20, ../scss/mainpage.scss */
body a {
  text-decoration: none;
}

/* line 25, ../scss/mainpage.scss */
h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* line 32, ../scss/mainpage.scss */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

/* line 40, ../scss/mainpage.scss */
#circle {
  position: fixed;
  left: 50%;
  margin-left: -45px;
  margin-top: 100px;
}
/* line 45, ../scss/mainpage.scss */
#circle p {
  color: white;
}

/* line 50, ../scss/mainpage.scss */
#background {
  position: fixed;
  background-image: url(./../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .55;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* line 62, ../scss/mainpage.scss */
#mainpage {
  position: absolute;
  top: 20px;
  left: 10px;
  margin: auto;
  width: 98%;
  height: 100%;
}
/* line 69, ../scss/mainpage.scss */
#mainpage #content {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  float: left;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
}
/* line 79, ../scss/mainpage.scss */
#mainpage #cover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: 100px;
  padding: 5%;
  width: 100%;
}
@media screen and (min-height: 800px) {
  /* line 79, ../scss/mainpage.scss */
  #mainpage #cover {
    margin-top: 50%;
  }
}
/* line 88, ../scss/mainpage.scss */
#mainpage #cover p {
  color: white;
  text-align: center;
}
