@import "compass/css3/transition";

@mixin contactButton($buttonName, $buttonColor){
	.#{$buttonName}{
		background: $buttonColor;
		border-bottom: 2px solid darken($buttonColor, 5.5%);
		-webkit-box-shadow: inset 0 -2px darken($buttonColor, 5.5%);
		box-shadow: inset 0 -2px darken($buttonColor);
	}
}

#content{
	ul{
		list-style: none;
		text-align: center;
		margin:0 auto;
		-webkit-padding-start: 0px;
	}
}
.section{
	width:100%;
	float:left;
	li{
		cursor: pointer;
	}
}

.text-section{
  width:95%;
  padding:2.5%;
  p{
    line-height:150%;
    letter-spacing:1px;
  }
}

.grid-4{
	position: relative;
	width:24%;
	margin:0.5%;
	float: left;
	height:auto;
	@media screen and (max-width: 899px){
		width: 49%;
	}
	@media screen and (max-width: 499px){
		width: 100%;
	}
	overflow:hidden;
}

.pageBtn{
	position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  //border-bottom: 2px solid #e2b607;
  cursor: pointer;
  //-webkit-box-shadow: inset 0 -2px #e2b607;
  //box-shadow: inset 0 -2px #e2b607;
	&:active{
		top: 1px;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	h4{
		margin-top: 17px;
	}
}
.span-2{
	width:49%;
}

.icon-splash{
	position: absolute;
	right:0;
	bottom:-10px;
	font-size:30px;
}

.facebook{
	background: #425F9C;
}

.google__plus{
	background: #DD4B39;
}

.plurk{
	background: rgb(207, 104, 47);
}

.twitter{
	background: rgb(0, 132, 180);
}
.yahoo{
	background: #4101AF;
}
.linkedin{
	background: #1B86BC;
}
.qq{
	background: rgb(61, 149, 213);
}
.github{
	background: black;
}
.bitbucket{
	background: #205081;
}
.trello{
	background: #0078BD;
}
.tumblr{
	background: #36465D;
}

.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(all 0.4s ease);
	z-index: 9999;
	pointer-events: none;
	cursor: auto;
	.close{
		position: absolute;
		right:0;
		top:0;
		cursor: pointer;
		z-index: 10000;
	}
}

blockquote {
    border-left:.5em solid #40AA53;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
    cite {
	    font-size:14px;
	    line-height:20px;
	    color:#bfbfbf;
	    &:before {
		    content: '\2014 \00A0';
		}
	}
	p {  
	    color: #F2CA8A;
	    max-width: 460px;
	}
}

.link-icon-group{
	float: right;
	a, a:hover, a:active, a:focus{
		position: relative;
		color:white;
		text-decoration: none;
		text-align: center;
		padding-left: 20px;
	}
	@media screen and (max-width: 499px){
		width: 100%;
	}
}

