@import "compass/css3/transition";

#about{
	width: 100%;
	float:left;
	background-color:rgba(0,0,0,0.45);
	padding: 5%;
	ul{
		list-style: none;
		text-align: center;
		margin:0 auto;
		-webkit-padding-start: 0px;
	}
}
.section{
	width:100%;
	float:left;
	li{
		cursor: pointer;
	}
}
.grid-4{
	position: relative;
	width:24%;
	margin:0.5%;
	float: left;
	height:auto;
	@media screen and (max-width: 899px){
		width: 49%;
	}
	@media screen and (max-width: 499px){
		width: 100%;
	}
	overflow:hidden;
}

.span-2{
	width:49%;
}

.icon-splash{
	position: absolute;
	right:0;
	bottom:-10px;
	font-size:30px;
}

.facebook{
	background: #425F9C;
}

.google__plus{
	background: #DD4B39;
}

.plurk{
	background: rgb(207, 104, 47);
}

.twitter{
	background: rgb(0, 132, 180);
}
.yahoo{
	background: #4101AF;
}
.linkedin{
	background: #1B86BC;
}
.qq{
	background: rgb(61, 149, 213);
}
.github{
	background: black;
}
.bitbucket{
	background: #205081;
}
.trello{
	background: #0078BD;
}
.tumblr{
	background: #36465D;
}

.overlay{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(all 0.4s ease);
	z-index: -1;
	pointer-events: none;
	cursor: auto;
	.fa-times{
		position: absolute;
		right:0;
		top:0;
		cursor: pointer;
		z-index: 1000;
	}
}