@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

@mixin contactButton(){
	$buttonList: (
		('facebook', #425F9C), ('google__plus', #DD4B39), ('plurk', #CF682F),
		('twitter', #0084B4), ('yahoo', #4101AF), ('linkedin', #1B86BC),
		('qq', #3D95D5), ('github', #000000), ('bitbucket', #205081),
		('trello', #0078BD), ('tumblr', #36465D)
	);
	@each $button in $buttonList{
		li.#{nth($button, 1)} {
			background: nth($button, 2);
			border-bottom: 2px solid darken(nth($button, 2), 5.5%);
			-webkit-box-shadow: inset 0 -2px darken(nth($button, 2), 5.5%);
			box-shadow: inset 0 -2px darken(nth($button, 2), 5.5%);
		}
	}
}

#content{
	ul{
		list-style: none;
		text-align: center;
		margin:0 auto;
		-webkit-padding-start: 0px;
	}
}
.section{
	width:100%;
	float:left;
	li{
		cursor: pointer;
	}
}

.text-section{
  width:95%;
  padding:2.5%;
  p{
    line-height:150%;
    letter-spacing:1px;
  }
}

.grid-4{
	position: relative;
	width:24%;
	margin:0.5%;
	float: left;
	height:auto;
	@media screen and (max-width: 899px){
		width: 49%;
	}
	@media screen and (max-width: 499px){
		width: 100%;
	}
	overflow:hidden;
}

.grid-2{
	position: relative;
	width:49%;
	margin:0.5%;
	float: left;
	height:auto;
	@media screen and (max-width: 899px){
		width: 100%;
	}
	overflow:hidden;
}

.pageBtn{
	position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
	&:active{
		top: 1px;
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	h4{
		margin-top: 17px;
	}
}

.icon-splash{
	position: absolute;
	right:0;
	bottom:-10px;
	font-size:30px;
}

@include contactButton();

.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(all 0.4s ease);
	z-index: 9999;
	pointer-events: none;
	cursor: auto;
	.close{
		position: absolute;
		right:0;
		top:0;
		cursor: pointer;
		z-index: 10000;
	}
}

blockquote {
    border-left:.5em solid #40AA53;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
    cite {
	    font-size:14px;
	    line-height:20px;
	    color:#bfbfbf;
	    &:before {
		    content: '\2014 \00A0';
		}
	}
	p {  
	    color: #F2CA8A;
	    max-width: 460px;
	}
}

.link-icon-group{
	float: right;
	a, a:hover, a:active, a:focus{
		position: relative;
		color:white;
		text-decoration: none;
		text-align: center;
		padding-left: 20px;
	}
	@media screen and (max-width: 499px){
		width: 100%;
	}
}

.progress{
	padding: 10px 0 10px 0;
}

.progress-bar {
  position: relative;
  height: 16px;
  border-radius: 4px;
  @include transition(.4s linear);
  @include transition-property(width, background-color);
  @include box-shadow(0 0 1px 1px rgba(black, .25), inset 0 1px rgba(white, .1));
	&:after{
		background-color: rgba(0,0,0,.45);
		text-align: center;
	}
}

.progress.newTo > .progress-bar,  {
  width: 5%;
  background-color: #f63a0f;
	&:after{
		content: 'New To';
	}
}

.progress.little > .progress-bar {
  width: 25%;
  background-color: #dd5600;
	&:after{
		content: 'Little';
	}
}

.progress.moderate > .progress-bar {
  width: 50%;
  background-color: #033c73;
	&:after{
		content: 'Moderate';
	}
}

.progress.highLevel > .progress-bar {
  width: 75%;
  background-color: #52D8AA;
	&:after{
		content: 'High Level';
	}
}

.progress.proficient > .progress-bar {
  width: 100%;
  background-color: #86e01e;
	&:after{
		content: 'Proficient';
	}
}
