@import "compass/css3/transform";

@mixin neon_shadow($color){
	text-shadow: 0 0 1px #fff,
                 0 0 2px $color,
                 0 0 3px $color,
                 0 0 4px $color,
                 0 0 7px $color,
                 0 0 8px rgba($color, .65),
                 0 0 10px rgba($color, .45),
                 0 0 15px rgba($color, .15);
}

#content{
	width: 100%;
	float:left;
	background-color:rgba(0,0,0,0.45);
	padding: 5%;
	#repo > *{
		position:relative;
		float:left;
		width:100%;
		height:auto;
		overflow:hidden;
		margin:1%;
		padding-left:5%;
		border: 1px solid lightgreen;
		border-radius: 10px;
		@media screen and (min-width:799px){
			width:48%;
			height:200px;
		}
		@media screen and (min-width:999px){
			height:120px;
		}
	}
}

.lang{
	display: inline-block;
	padding: 0;
	right: 5%;
	top: 0;
	@media screen and (min-width:599px){
		position: absolute;
	}
	@media screen and (min-width:799px){
		position: static;
	}
	@media screen and (min-width:999px){
		position: absolute;
	}
	&.ruby{
		@include neon_shadow(#701516);
	}
	&.php{
		@include neon_shadow(#4F5D95);
	}
	&.javascript{
		@include neon_shadow(#f1e05a);
	}
	&.css{
		@include neon_shadow(#563d7c);
	}
	&.viml{
		@include neon_shadow(#199c4b);
	}
	&.python{
		@include neon_shadow(#3581ba);
	}
	&.shell{
		@include neon_shadow(#89e051);
	}
	&.csharp{
		@include neon_shadow(#178600);
	}
	&.verilog{
		@include neon_shadow(#b2b7f8);
	}
	&.livescript{
		@include neon_shadow(#499886);
	}
}
#RepoChartContainer{
	width: 100%;
}

.link{
	width:25px;
	height:25px;
	background: url('../images/link_ext.svg');
	background-size: 25px 25px;
	position:absolute;
	right: 5px;
	bottom: 5px;
}
