#content{
	@media screen and (max-width: 767px){
		img{
			width: 100%;
			height: auto;
		}
	}
	.more{
		a.left{
			float: left;
		}
		a.right{
			float: right;
		}
		a.clear{
			clear: both;
		}
	}
}
