#content{
	@media screen and (max-width: 767px){
		img{
			width: 100%;
			height: auto;
		}
	}
	.more{
		a.left{
			float: left;
		}
		a.right{
			float: right;
		}
		a.clear{
			clear: both;
		}
	}
	ul {
		list-style: none;
		text-align: left;
		margin: 0 auto;
		-webkit-padding-start: 40px;
	}
}
