body{
	background-image:url(./../images/wallpaper.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	opacity:.45;
}
body.xy{
	background-size:100% auto;
}
body.yx{
	background-size:auto 100%;
}
body *{
	opacity:1;
}
