@import "background/win8ball";
@import url(jquery.jscrollpane.css);

body{
	position:relative;
	background-color:#000;
	font-family:Gotham, Lucida Grande, Arial;
	a{
		text-decoration:none;
	}
}

#bar > h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#loading{
	position:absolute;
	left:50%;
	margin-left:-45px;
	margin-top:100px;
	p{
		color:white;
	}
}

#background{
	background-image:url(./../images/wallpaper.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	opacity:.55;
	top:0;
	left:0;
	&.xy{
		background-size:100% auto;
	}
	&.yx{
		background-size:auto 100%;
	}
}
#mainpage{
	position:absolute;
	top:20px;
	left:10px;
	margin:auto;
	width:95%;
	height:95%;	
	#bar{
		width:100%;
		h1{
			width:50%;
			display:inline;
			vertical-align:bottom;
		}
		#menu{
			float:right;
			display:inline;
			position:relative;
			bottom:0px;
			a{
				color:rgba(255,255,255,0.5);
				margin-left:30px;
				cursor:pointer;
				&:before{
					content:"#";
				}
				&:after{
					content:" ";
				}
			}
		}
		hr{
			color:rgba(255,255,255,0.5);
			vertical-align:bottom;
		}
	}
	#content{
		width:80%;
		height:80%;
		overflow-y:scroll;
		overflow-x:hidden;
		margin-left:auto;
		margin-right:auto;
		color:white;
		padding:10px;
	}
}
