@import "background/win8ball";
@import "compass/css3/images";
@import "compass/css3/transform";

body{
	position:relative;
	background-color:#000;
	font-family:Gotham, Lucida Grande, Arial;
	a{
		text-decoration:none;
	}
}

#bar > h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#loading{
	position:absolute;
	left:50%;
	margin-left:-45px;
	margin-top:100px;
	p{
		color:white;
	}
}

#background{
	background-image:url(./../images/wallpaper.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	opacity:.55;
	top:0;
	left:0;
	&.xy{
		background-size:100% auto;
	}
	&.yx{
		background-size:auto 100%;
	}
}
#mainpage{
	position:absolute;
	top:20px;
	left:10px;
	margin:auto;
	width:95%;
	height:95%;	
	#bar{
		width:100%;
		h1{
			width:50%;
			display:inline;
			vertical-align:bottom;
		}
		#menu{
			float:right;
			display:inline;
			position:relative;
			bottom:0px;
			a{
				color:rgba(255,255,255,0.5);
				margin-left:30px;
				cursor:pointer;
				&:before{
					content:"#";
				}
				&:after{
					content:" ";
				}
			}
		}
		hr{
			color:rgba(255,255,255,0.5);
			vertical-align:bottom;
		}
	}
	#content{
		width:80%;
		height:80%;
		overflow-y:scroll;
		overflow-x:hidden;
		margin-left:auto;
		margin-right:auto;
		color:white;
		padding:10px;
	}
}

.ball {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.9)), color-stop(40%, rgba(240, 245, 255, 0.9)), color-stop(60%, rgba(225, 238, 255, 0.8)), color-stop(100%, rgba(43, 130, 255, 0.4)));
  background: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  background: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  background: -o-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  background: radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
  &:active, &:hover{
  	-webkit-animation: bubble-anim 2s ease-out infinite;
  	-moz-animation: bubble-anim 2s ease-out infinite;
  	-o-animation: bubble-anim 2s ease-out infinite;
  	-ms-animation: bubble-anim 2s ease-out infinite;
  	animation: bubble-anim 2s ease-out infinite;
  }
  p{
		  position:absolute;
		  top:40%;
		  left:30%;
		  color:black;
  }
}
.ball:before {
  /* Sheen on the bottom right */
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  -webkit-filter: blur(0);
  height: 80%;
  width: 40%;
  background: -webkit-gradient(radial, 130% 130%, 0, 130% 130%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(58%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: -moz-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -moz-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -ms-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -o-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball:after {
  /* Top left highlight */
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(80%, #ffffff), color-stop(84%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background: -moz-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.6;
  -webkit-filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  -moz-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  -o-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
.stage {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-moz-keyframes bubble-anim {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }

  20% {
    -moz-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -moz-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -moz-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -moz-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes bubble-anim {
  0% {
    -o-transform: scale(1);
    transform: scale(1); }

  20% {
    -o-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -o-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -o-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -o-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -o-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes bubble-anim {
  0% {
    -ms-transform: scale(1);
    transform: scale(1); }

  20% {
    -ms-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -ms-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -ms-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -ms-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    transform: scale(1); }

  20% {
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    transform: scale(1); } }
