/* line 1, ../scss/mainpage.scss */
body {
  background-image: url(./../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .45;
}

/* line 7, ../scss/mainpage.scss */
body.xy {
  background-size: 100% auto;
}

/* line 10, ../scss/mainpage.scss */
body.yx {
  background-size: auto 100%;
}

/* line 13, ../scss/mainpage.scss */
body * {
  opacity: 1;
}
