/* line 1, ../scss/background/_win8ball.scss */
body {
  background: #000;
}

/* line 4, ../scss/background/_win8ball.scss */
.windows8 {
  position: relative;
  width: 90px;
  height: 90px;
}

/* line 10, ../scss/background/_win8ball.scss */
.windows8 .wBall {
  position: absolute;
  width: 86px;
  height: 86px;
  opacity: 0;
  -moz-transform: rotate(225deg);
  -moz-animation: orbit 4.4s infinite;
  -webkit-transform: rotate(225deg);
  -webkit-animation: orbit 4.4s infinite;
  -ms-transform: rotate(225deg);
  -ms-animation: orbit 4.4s infinite;
  -o-transform: rotate(225deg);
  -o-animation: orbit 4.4s infinite;
  transform: rotate(225deg);
  animation: orbit 4.4s infinite;
}

/* line 27, ../scss/background/_win8ball.scss */
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 11px;
  height: 11px;
  background: #FFFFFF;
  left: 0px;
  top: 0px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}

/* line 41, ../scss/background/_win8ball.scss */
.windows8 #wBall_1 {
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  -ms-animation-delay: 0.96s;
  -o-animation-delay: 0.96s;
  animation-delay: 0.96s;
}

/* line 49, ../scss/background/_win8ball.scss */
.windows8 #wBall_2 {
  -moz-animation-delay: 0.19s;
  -webkit-animation-delay: 0.19s;
  -ms-animation-delay: 0.19s;
  -o-animation-delay: 0.19s;
  animation-delay: 0.19s;
}

/* line 57, ../scss/background/_win8ball.scss */
.windows8 #wBall_3 {
  -moz-animation-delay: 0.38s;
  -webkit-animation-delay: 0.38s;
  -ms-animation-delay: 0.38s;
  -o-animation-delay: 0.38s;
  animation-delay: 0.38s;
}

/* line 65, ../scss/background/_win8ball.scss */
.windows8 #wBall_4 {
  -moz-animation-delay: 0.58s;
  -webkit-animation-delay: 0.58s;
  -ms-animation-delay: 0.58s;
  -o-animation-delay: 0.58s;
  animation-delay: 0.58s;
}

/* line 73, ../scss/background/_win8ball.scss */
.windows8 #wBall_5 {
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  -ms-animation-delay: 0.77s;
  -o-animation-delay: 0.77s;
  animation-delay: 0.77s;
}

@-moz-keyframes orbit {
  /* line 82, ../scss/background/_win8ball.scss */
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }

  /* line 89, ../scss/background/_win8ball.scss */
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }

  /* line 96, ../scss/background/_win8ball.scss */
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }

  /* line 103, ../scss/background/_win8ball.scss */
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }

  /* line 110, ../scss/background/_win8ball.scss */
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }

  /* line 117, ../scss/background/_win8ball.scss */
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }

  /* line 124, ../scss/background/_win8ball.scss */
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }

  /* line 129, ../scss/background/_win8ball.scss */
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  /* line 137, ../scss/background/_win8ball.scss */
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 144, ../scss/background/_win8ball.scss */
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }

  /* line 151, ../scss/background/_win8ball.scss */
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }

  /* line 158, ../scss/background/_win8ball.scss */
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }

  /* line 165, ../scss/background/_win8ball.scss */
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }

  /* line 172, ../scss/background/_win8ball.scss */
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }

  /* line 179, ../scss/background/_win8ball.scss */
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

  /* line 184, ../scss/background/_win8ball.scss */
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

@-ms-keyframes orbit {
  /* line 192, ../scss/background/_win8ball.scss */
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }

  /* line 199, ../scss/background/_win8ball.scss */
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }

  /* line 206, ../scss/background/_win8ball.scss */
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }

  /* line 213, ../scss/background/_win8ball.scss */
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }

  /* line 220, ../scss/background/_win8ball.scss */
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }

  /* line 227, ../scss/background/_win8ball.scss */
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }

  /* line 234, ../scss/background/_win8ball.scss */
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }

  /* line 239, ../scss/background/_win8ball.scss */
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}

@-o-keyframes orbit {
  /* line 247, ../scss/background/_win8ball.scss */
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }

  /* line 254, ../scss/background/_win8ball.scss */
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }

  /* line 261, ../scss/background/_win8ball.scss */
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }

  /* line 268, ../scss/background/_win8ball.scss */
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }

  /* line 275, ../scss/background/_win8ball.scss */
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }

  /* line 282, ../scss/background/_win8ball.scss */
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }

  /* line 289, ../scss/background/_win8ball.scss */
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }

  /* line 294, ../scss/background/_win8ball.scss */
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}

@keyframes orbit {
  /* line 302, ../scss/background/_win8ball.scss */
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }

  /* line 309, ../scss/background/_win8ball.scss */
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }

  /* line 316, ../scss/background/_win8ball.scss */
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  /* line 323, ../scss/background/_win8ball.scss */
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }

  /* line 330, ../scss/background/_win8ball.scss */
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }

  /* line 337, ../scss/background/_win8ball.scss */
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }

  /* line 344, ../scss/background/_win8ball.scss */
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  /* line 349, ../scss/background/_win8ball.scss */
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

/*
    Example usage: 
    @include animation(changecolour, 5s, 10s)
 */
/* line 11, ../scss/sub/_bubble.scss */
.wrapper {
  float: right;
}

/* line 15, ../scss/sub/_bubble.scss */
.about {
  margin: 20px;
}

/* line 19, ../scss/sub/_bubble.scss */
.ball {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -o-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 19, ../scss/sub/_bubble.scss */
  .ball {
    width: 99px;
    height: 99px;
  }
}
/* line 35, ../scss/sub/_bubble.scss */
.ball:active, .ball:hover {
  -webkit-animation: bubble-anim 2s ease-out 1;
  -moz-animation: bubble-anim 2s ease-out 1;
  -o-animation: bubble-anim 2s ease-out 1;
  -ms-animation: bubble-anim 2s ease-out 1;
  animation: bubble-anim 2s ease-out 1;
}
/* line 38, ../scss/sub/_bubble.scss */
.ball p {
  text-align: center;
  margin-top: 50px;
  color: black;
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 38, ../scss/sub/_bubble.scss */
  .ball p {
    margin-top: 33.33333px;
  }
}
/* line 46, ../scss/sub/_bubble.scss */
.ball:before {
  /* Sheen on the bottom right */
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  -webkit-filter: blur(0);
  height: 80%;
  width: 40%;
  background: -webkit-gradient(radial, 130% 130%, 0, 130% 130%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15)), color-stop(58%, rgba(255, 255, 255, 0.15)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(radial, 130% 130%, 0, 130% 130%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15)), color-stop(58%, rgba(255, 255, 255, 0.15)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(130% 130%, circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -moz-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -ms-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  -o-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
/* line 62, ../scss/sub/_bubble.scss */
.ball:after {
  /* Top left highlight */
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(80%, white), color-stop(84%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(74%, rgba(255, 255, 255, 0)), color-stop(80%, #ffffff), color-stop(84%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(50% 80%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, #ffffff 80%, #ffffff 84%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.1;
  -webkit-filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* line 79, ../scss/sub/_bubble.scss */
.stage {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
@media screen and (max-width: 800px) and (max-height: 800px) {
  /* line 79, ../scss/sub/_bubble.scss */
  .stage {
    width: 99px;
    height: 99px;
  }
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=DropStone] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 245, 255, 0.4)), color-stop(40%, rgba(240, 245, 255, 0.4)), color-stop(60%, rgba(225, 238, 255, 0.3)), color-stop(100%, rgba(43, 130, 255, 0.15)));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: -o-radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
  background-image: radial-gradient(50% 55%, circle cover, rgba(240, 245, 255, 0.4), rgba(240, 245, 255, 0.4) 40%, rgba(225, 238, 255, 0.3) 60%, rgba(43, 130, 255, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=DreamSakura] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 255, 243, 0.4)), color-stop(40%, rgba(240, 255, 243, 0.4)), color-stop(60%, rgba(225, 255, 227, 0.3)), color-stop(100%, rgba(43, 255, 62, 0.15)));
  background-image: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(240, 255, 243, 0.4)), color-stop(40%, rgba(240, 255, 243, 0.4)), color-stop(60%, rgba(225, 255, 227, 0.3)), color-stop(100%, rgba(43, 255, 62, 0.15)));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
  background-image: -o-radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
  background-image: radial-gradient(50% 55%, circle cover, rgba(240, 255, 243, 0.4), rgba(240, 255, 243, 0.4) 40%, rgba(225, 255, 227, 0.3) 60%, rgba(43, 255, 62, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=RainSweet] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 250, 240, 0.4)), color-stop(40%, rgba(255, 250, 240, 0.4)), color-stop(60%, rgba(255, 242, 225, 0.3)), color-stop(100%, rgba(255, 168, 43, 0.15)));
  background-image: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 250, 240, 0.4)), color-stop(40%, rgba(255, 250, 240, 0.4)), color-stop(60%, rgba(255, 242, 225, 0.3)), color-stop(100%, rgba(255, 168, 43, 0.15)));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
  background-image: -o-radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
  background-image: radial-gradient(50% 55%, circle cover, rgba(255, 250, 240, 0.4), rgba(255, 250, 240, 0.4) 40%, rgba(255, 242, 225, 0.3) 60%, rgba(255, 168, 43, 0.15));
}
/* line 93, ../scss/sub/_bubble.scss */
.stage[name=OtomeSound] .ball {
  background: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 240, 252, 0.4)), color-stop(40%, rgba(255, 240, 252, 0.4)), color-stop(60%, rgba(255, 225, 253, 0.3)), color-stop(100%, rgba(255, 43, 236, 0.15)));
  background-image: -webkit-gradient(radial, 50% 55%, 0, 50% 55%, 100, color-stop(0%, rgba(255, 240, 252, 0.4)), color-stop(40%, rgba(255, 240, 252, 0.4)), color-stop(60%, rgba(255, 225, 253, 0.3)), color-stop(100%, rgba(255, 43, 236, 0.15)));
  background-image: -webkit-radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
  background-image: -moz-radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
  background-image: -o-radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
  background-image: radial-gradient(50% 55%, circle cover, rgba(255, 240, 252, 0.4), rgba(255, 240, 252, 0.4) 40%, rgba(255, 225, 253, 0.3) 60%, rgba(255, 43, 236, 0.15));
}

@-webkit-keyframes bubble-anim {
  /* line 102, ../scss/sub/_bubble.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 105, ../scss/sub/_bubble.scss */
  20% {
    -webkit-transform: scale(1.05, 0.95);
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -o-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  /* line 108, ../scss/sub/_bubble.scss */
  48% {
    -webkit-transform: scale(0.9, 1.1);
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -o-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  /* line 111, ../scss/sub/_bubble.scss */
  68% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -o-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }

  /* line 114, ../scss/sub/_bubble.scss */
  80% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -o-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }

  /* line 117, ../scss/sub/_bubble.scss */
  97%, 100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes bubble-anim {
  /* line 102, ../scss/sub/_bubble.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 105, ../scss/sub/_bubble.scss */
  20% {
    -webkit-transform: scale(1.05, 0.95);
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -o-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  /* line 108, ../scss/sub/_bubble.scss */
  48% {
    -webkit-transform: scale(0.9, 1.1);
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -o-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  /* line 111, ../scss/sub/_bubble.scss */
  68% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -o-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }

  /* line 114, ../scss/sub/_bubble.scss */
  80% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -o-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }

  /* line 117, ../scss/sub/_bubble.scss */
  97%, 100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes bubble-anim {
  /* line 102, ../scss/sub/_bubble.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 105, ../scss/sub/_bubble.scss */
  20% {
    -webkit-transform: scale(1.05, 0.95);
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -o-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  /* line 108, ../scss/sub/_bubble.scss */
  48% {
    -webkit-transform: scale(0.9, 1.1);
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -o-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  /* line 111, ../scss/sub/_bubble.scss */
  68% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -o-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }

  /* line 114, ../scss/sub/_bubble.scss */
  80% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -o-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }

  /* line 117, ../scss/sub/_bubble.scss */
  97%, 100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes bubble-anim {
  /* line 102, ../scss/sub/_bubble.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 105, ../scss/sub/_bubble.scss */
  20% {
    -webkit-transform: scale(1.05, 0.95);
    -moz-transform: scale(1.05, 0.95);
    -ms-transform: scale(1.05, 0.95);
    -o-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  /* line 108, ../scss/sub/_bubble.scss */
  48% {
    -webkit-transform: scale(0.9, 1.1);
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -o-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  /* line 111, ../scss/sub/_bubble.scss */
  68% {
    -webkit-transform: scale(1.02, 0.98);
    -moz-transform: scale(1.02, 0.98);
    -ms-transform: scale(1.02, 0.98);
    -o-transform: scale(1.02, 0.98);
    transform: scale(1.02, 0.98);
  }

  /* line 114, ../scss/sub/_bubble.scss */
  80% {
    -webkit-transform: scale(0.98, 1.02);
    -moz-transform: scale(0.98, 1.02);
    -ms-transform: scale(0.98, 1.02);
    -o-transform: scale(0.98, 1.02);
    transform: scale(0.98, 1.02);
  }

  /* line 117, ../scss/sub/_bubble.scss */
  97%, 100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* line 3, ../scss/sub/_repo.scss */
#repo {
  float: right;
}
/* line 5, ../scss/sub/_repo.scss */
#repo div {
  background-color: rgba(0, 0, 0, 0.45);
  position: relative;
  float: left;
  width: 30%;
  margin: 1%;
  padding-left: 5%;
}
@media screen and (max-width: 800px) {
  /* line 5, ../scss/sub/_repo.scss */
  #repo div {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  /* line 5, ../scss/sub/_repo.scss */
  #repo div {
    width: 100%;
  }
}
/* line 18, ../scss/sub/_repo.scss */
#repo div.forked:after {
  background-color: rgba(255, 0, 0, 0.65);
  content: "forked";
  position: absolute;
  left: -2%;
  top: -2%;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1, ../scss/sub/_wiki.scss */
#container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5%;
  float: left;
}
/* line 6, ../scss/sub/_wiki.scss */
#container #index {
  display: table-cell;
  float: left;
  padding-left: 20%;
}
/* line 11, ../scss/sub/_wiki.scss */
#container #wikiAbout {
  display: table-cell;
  float: left;
  padding-top: 20%;
}
/* line 15, ../scss/sub/_wiki.scss */
#container #wikiAbout p {
  text-decoration: none;
  font: 100 25px/0.7 "Oleo Script",Helvetica,sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
/* line 21, ../scss/sub/_wiki.scss */
#container #wikiAbout img {
  padding-left: 20%;
}
@media screen and (min-width: 765px) and (max-width: 790px) {
  /* line 11, ../scss/sub/_wiki.scss */
  #container #wikiAbout {
    padding-right: 50%;
  }
}
/* line 28, ../scss/sub/_wiki.scss */
#container .idx_dir {
  text-decoration: none;
  color: #2b73b7;
}
/* line 32, ../scss/sub/_wiki.scss */
#container .wikilink1 {
  color: #080;
  background-color: inherit;
}

/* line 8, ../scss/mainpage.scss */
body {
  position: relative;
  background-color: #000;
  font-family: Gotham, Lucida Grande, Arial;
}
/* line 12, ../scss/mainpage.scss */
body a {
  text-decoration: none;
}

/* line 17, ../scss/mainpage.scss */
#bar > h1 {
  font: 100 25px/0.7 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

/* line 23, ../scss/mainpage.scss */
#loading {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  margin-top: 100px;
}
/* line 28, ../scss/mainpage.scss */
#loading p {
  color: white;
}

/* line 33, ../scss/mainpage.scss */
#background {
  background-image: url(./../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .55;
  top: 0;
  left: 0;
}
/* line 40, ../scss/mainpage.scss */
#background.xy {
  background-size: 100% auto;
}
/* line 43, ../scss/mainpage.scss */
#background.yx {
  background-size: auto 100%;
}

/* line 47, ../scss/mainpage.scss */
#mainpage {
  position: absolute;
  top: 20px;
  left: 10px;
  margin: auto;
  width: 95%;
  height: 95%;
}
/* line 54, ../scss/mainpage.scss */
#mainpage #bar {
  width: 100%;
}
/* line 56, ../scss/mainpage.scss */
#mainpage #bar h1 {
  width: 50%;
  display: inline;
  vertical-align: bottom;
}
/* line 61, ../scss/mainpage.scss */
#mainpage #bar #menu {
  float: right;
  display: inline;
  position: relative;
  bottom: 0px;
}
/* line 66, ../scss/mainpage.scss */
#mainpage #bar #menu a {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 30px;
  cursor: pointer;
  -webkit-transition-property: fint-weight;
  -moz-transition-property: fint-weight;
  -o-transition-property: fint-weight;
  transition-property: fint-weight;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: text-shadow;
  -moz-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 70, ../scss/mainpage.scss */
#mainpage #bar #menu a:before {
  content: "#";
}
/* line 73, ../scss/mainpage.scss */
#mainpage #bar #menu a:after {
  content: " ";
}
/* line 76, ../scss/mainpage.scss */
#mainpage #bar #menu a.active {
  color: rgba(232, 232, 232, 0.85);
  font-weight: bold;
  text-shadow: 2px 2px 2px #333, 0px 0px 5px #666;
  -webkit-transition-property: fint-weight;
  -moz-transition-property: fint-weight;
  -o-transition-property: fint-weight;
  transition-property: fint-weight;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: text-shadow;
  -moz-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 95, ../scss/mainpage.scss */
#mainpage #bar hr {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  vertical-align: bottom;
}
/* line 101, ../scss/mainpage.scss */
#mainpage #content {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px;
}
/* line 109, ../scss/mainpage.scss */
#mainpage #cover {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  bottom: 10%;
  right: 10%;
  padding: 5%;
  border-radius: 3%;
}
