---
import BaseHead from '@components/BaseHead.astro';
import Menu from './Menu.vue';

import '@assets/scss/layout.scss';

const currentPath = Astro.url.pathname.replace('.html', '');
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Menu path={currentPath} client:load />
    <div class="container">
      <slot />
    </div>
  </body>
</html>
